*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
li {
  list-style-type: none;
}

a {
  cursor: pointer;
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
